body
  background: #202020
  font-family: 'Nunito', sans-serif
  font-size: 16px
  color: #efefef

  *
    box-sizing: border-box

.wrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  min-height: 100vh
  padding: 15px 0

.header
  .header-title
    font-size: 1.8em
    margin: 0

.display
  font-size: 4em

.controls
  display: flex
  flex-direction: row  
  justify-content: space-between
  align-items: center
  width: 100%
  padding: 0 15px

  .control
    position: relative
    background: none
    border: 2px #2e2e2e solid
    border-radius: 8px
    width: 90px
    font-family: 'Nunito', sans-serif
    font-size: 1.2em
    font-weight: 700
    color: #efefef
    text-align: center
    padding: 5px 15px
    box-shadow:  20px 20px 60px #1d1d1d, -20px -20px 60px #272727
    outline: none
    cursor: pointer
    transition: all .1s ease-in-out

    &:hover
      background: #2e2e2e

    &:active
      background: #292929
      border: 2px #292929 solid


  .btn-play-stop
    display: flex
    flex-shrink: 0
    justify-content: center
    align-items: center
    border: none
    border-radius: 50%
    height: 70px
    width: 70px

    &.btn-play
      background: #f26c0b

      &:active
        background: #a94c08

    &.btn-stop
      background: #e93323

      &:active
        background: #751a12

@media (max-width: 520px)
  .controls
    justify-content: center

    .control
      margin: 0 10px